
main {
	margin:20px;
	margin-bottom:0px;
	width:100%;
	display:block;
	min-height:480px;
}

#mainSearchButton{
	font-size:13px;
	padding: 3px 5px;
}

#formSize1{
	width:100px;
}

#formSize2{
	width:100px;
}

#size-form-group {
	margin-left: 40px;
}

.advTable {
	width:30%;
}

#advImgCell {
	width:50%;
}

#advImage {
	width:100%;
}

.advTableCell{
	border: 2px solid black;
	border-radius:5px;
}

.tableList{
	list-style:none;
	padding:0px;
}

.advTableListElement {
	border-bottom:2px solid black;; 
}

.footerLinks {
	margin-left:20px;
	text-decoration: underline;
}

.signedData{
	padding:1px;
	padding-left:3px;
	padding-right:3px;
	background-color:red;
	border: 1px solid white;
	border-radius:4px;
}

#myAdvDeleteLink {
	margin-left:2%;
	overflow:none;
}

#advListSettingsMenu {
	margin-left:20px;
}

.leftsideMenu {
	margin:0px;
	padding:10px;
	border:2px solid black;
	width:15%;
	height:80%;
	float:left;
}

#errorMessage {
	position:absolute;
	right:10%;
	top:30%;
}


#searchField {
	padding-top:8px;	
}

#searchPagination {
	margin-left:20px;
}

.messageMain{
	float:right;
	width:82%;
	height:80%;
	padding:10px;
	margin-right:3%;
	border:2px solid black;
}

#messageTableTitleCell {
	width:45%;
}

#messageTableSendRecCell {
	width:22%;
}

#messageTextBox {
	width:100%;
	height:80%;
}

#messageForm {
	margin:10px;
}

.newMessageBG {
	background-color:pink;
}

#replyMessageButton{
	margin-left:10px;
}

#footerNav {
	width:100%;
	text-align:center;
	height:auto;
}

.noneStyle {
	list-style:none;
	font-size: 10px;
}