.advTable{
	border: 2px solid black;
	border-radius:5px;
}

.tableList{
	list-style:none;
	padding:0px;
}

.advTableListElement {
	border-bottom:2px solid black;; 
}

.footerLinks {
	margin-left:20px;
	text-decoration: underline;
}

.noneStyle {
	list-style:none;
	font-size: 10px;
}

.navbar-inverse {
	background-color:navy;
}

main {
	margin:20px;
	width:100%;
	display:block;
}
.signedData{
	margin:0px;
	padding:0px;
	background-color:red;
	border: 1px solid white;
	border-radius:4px;
}

.leftsideMenu {
	margin:0px;
	padding:10px;
	border:2px solid black;
	width:10%;
	height:80%;
	float:left;
}

aside {
	margin:0px;
	padding:10px;
	border:2px solid black;
	width:20%;
	height:80%;
	float:left;
}

#loginMessage {
	margin:20px;
	float:left;
}

.messageMain{
	float:right;
	width:80%;
	height:80%;
	padding:10px;
	border:2px solid black;
}